.div-buy {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    width: 100%;
    /* Colocar um tamanho fix nos espaços de dentro*/
    grid-column-gap: 10px;

}



.img-buy {
    width: 70px;
    height: auto;
}

.quantity-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.quantity-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.quantity {
    width: 40px;
    height: 30px;
    text-align: center;
    font-size: 16px;
    border: 1px solid #ccc;
}