.img-details {
    max-width: 70%;
    height: auto;
    padding: 40px;
}

.description {
    margin: 0 auto auto 0;
}

.price {
    margin-left: 0;
    margin-top: auto;
    margin-bottom: 1rem;
    margin-right: auto;
}

.card-favorite {
    position: absolute;
    top: 3px;
    right: 8px;
    left: auto;
}

.card-btn-favorite {
    color: #fff;
    background-color: transparent;
    border: none;
    box-shadow: none;
    font-size: 1.5rem;
}

    .card-btn-favorite:hover, .card-btn-favorite:active, .card-btn-favorite:focus {
        color: #B5A79D;
    }

.quantity-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.quantity-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

#quantity {
    width: 40px;
    height: 30px;
    text-align: center;
    font-size: 16px;
    border: 1px solid #ccc;
}
