.card-rounder {
    border-radius: 15px;
}

.card-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 200px;
    object-fit: scale-down;
    padding: 10px;
}

.card-img-product {
    width: 100%;
    object-fit: scale-down;
    height: 100%;
}

.card-favorite {
    position: absolute;
    top: 3px;
    right: 8px;
    left: auto;
}

.card-btn-favorite {
    color: #fff;
    background-color: transparent;
    border: none;
    box-shadow: none;
    font-size: 1.5rem;
}

    .card-btn-favorite:hover, .card-btn-favorite:active, .card-btn-favorite:focus {
        color: #B5A79D;
    }

.card {
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Efeito suave de transição */
    cursor: pointer; /* Muda o ponteiro para o estilo de clique */
}
    .card:hover {
        transform: scale(1.05); /* Aumenta ligeiramente o tamanho do cartão */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Adiciona uma sombra para um efeito "levitando" */
    }