.img-details {
    max-width: 70%;
    height: auto;
    padding: 40px;
}

.description {
    margin: 0 auto auto 0;
}

.price {
    margin-left: 0;
    margin-top: auto;
    margin-bottom: 1rem;
    margin-right: auto;
}
