@page
@model ErrorViewModel

<div class="text-center">
    <h1 class="display-4">Erro</h1>
    <p class="lead">Ocorreu um erro durante a solicitação.</p>
    <p>Descrição: @Model.RequestId</p>
</div>
